[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
